<template>
  <div>
    <h1>{{ msg }}</h1>
    <i-row center>
      <i-column xs="10" md="6">
        <i-card variant="dark">
          <template slot="header">Dev Chronicles</template>
          <p>
            The story of the ronin shall be told and involves:
          </p>
          <ul class="_text-left">
              <li>Swords</li>
              <li>Dragons</li>
              <li>Ninjas</li>
              <li>Otherworldly samurai</li>
            </ul>
         <!--  <div>
            <i-collapsible variant="dark">
              <i-collapsible-item title="Chapter1">The story begins</i-collapsible-item>
              <i-collapsible-item title="Chapter2">
                It will all end
              </i-collapsible-item>
              <i-collapsible-item title="Endings">
                <i-tabs variant="secondary">
                  <i-tab title="50%">R0nin survives and gets sword</i-tab>
                  <i-tab title="75%">R0nin gets the armor and sword is kept in vault</i-tab>
                  <i-tab title="100%">R0nin rules the kingdom with armor and sword</i-tab>
                </i-tabs>
              </i-collapsible-item>
             <i-collapsible-item title="Anime" v-if="animes">
                <ul>
                  <li v-for="(anime, index) in animes" :key="index">
                    {{anime.titles.en}}
                  </li>
                </ul>
              </i-collapsible-item>
            </i-collapsible>
          </div>-->
        </i-card>
      </i-column>
    </i-row>

  </div>
</template>

<script>
export default {
  props: {
    msg: String,
  },
  data() {
    return {
      //animes: undefined
    };
  },
  /*created(){
    fetch("https://api.aniapi.com/v1/anime")
    .then(res => res.json())
    .then(data => {
      this.animes = data.data.documents
    })
  }*/
};
</script>

<style scoped>
a {
  color: #42b983;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 2px 3px 5px 3px;
}
</style>
