<template>
  <i-header size="sm">
    <h1>R0N!N</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit
      ipsum tempore quidem totam labore incidunt dolore, recusandae, dolores
      dignissimos. ROZES
    </p>
    <div>
      <i-popover placement="bottom" variant="dark">
        <i-button variant="primary">
          <v-icon name="cogs" style="margin-right: 5px" fill="white"></v-icon
          >Welcome
        </i-button>
        <template slot="body"> Popover test </template>
      </i-popover>
    </div>
    <!--<div class="_margin-top-2">
      <i-list-group :bordered="false">
        <i-list-group-item>Epilogue</i-list-group-item>
        <i-list-group-item>Chapter 1</i-list-group-item>
        <i-list-group-item>Chapter 2</i-list-group-item>
        <i-list-group-item>Prologue</i-list-group-item>
      </i-list-group>
    </div>-->
  </i-header>
</template>

<script>
export default {
  data: () => ({}),
};
</script>

<style scoped></style>
