<template>
  <div>
    <i-container>
      <i-column>
        <i-row>
          <!--<i-input
            variant="dark"
            clearable
            v-model="category"
            @keyup.enter="getNews"
            placeholder="Enter Category"
          />-->
          <i-select
            variant="dark"
            class="_margin-top-2 _text-light"
            v-model="value"
            placeholder="Select Category"
          >
            <i-select-option
              v-for="option in options"
              :key="option.id"
              :value="option.label"
              :label="option.label"
            ></i-select-option>
            <!--<i-select-option value="health" label="Health"></i-select-option
          >--></i-select
          ><i-button
            @click="getNews"
            variant="dark"
            class="_margin-x-auto _margin-top-1"
            ><i-icon icon="search"
          /></i-button>
        </i-row>
        <i-row v-if="newsItems">
          <i-card
            size="sm"
            class="_margin-top-2"
            v-for="newsItem in newsItems"
            :key="newsItem.id"
          >
            <template slot="image" v-if="newsItem.image_url">
              <img :src="newsItem.image_url" alt="Article Image" />
            </template>
            <template slot="header">{{ newsItem.title }}</template>
            <p v-if="newsItem.description">{{ newsItem.description }}</p>
            <template slot="footer">
              <i-button link variant="primary" :href="newsItem.link"
                >Read Full article</i-button
              >
            </template>
          </i-card>
        </i-row>
        <div v-if="loading" size="sm" class="_margin-top-1">
          <i-loader variant="dark" />
        </div>
      </i-column>
    </i-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    //category: "",
    newsItems: undefined,
    value: "",
    options: [
      { id: 1, label: "business" },
      { id: 2, label: "entertainment" },
      { id: 3, label: "environment" },
      { id: 4, label: "food" },
      { id: 5, label: "health" },
      { id: 6, label: "science" },
      { id: 7, label: "sports" },
      { id: 8, label: "technology" },
    ],
    loading: false,
  }),
  methods: {
    async getNews() {
      if (this.value != "") {
        this.loading = true;
        const response = await axios.get(
          `https://newsdata.io/api/1/news?apikey=pub_3205d633e91084da018524c1e6efee3305cc&category=${this.value}&language=en`
        );
        this.newsItems = response.data.results;
      } else {
        console.log("No entry");
      }
      this.loading = false;
    },
  },
};
</script>

<style scoped></style>