<template>
  <i-layout>
    <i-layout-header class="_padding-0">
      <i-navbar>
        <i-navbar-brand>R0N1n</i-navbar-brand>
        <i-hamburger-menu
          :active="collapsed"
          @click="collapsed = !collapsed"
        ></i-hamburger-menu>
      </i-navbar>
    </i-layout-header>
    <i-layout vertical>
      <i-sidebar v-model="collapsed">
        <i-nav vertical>
          <i-nav-item>Home</i-nav-item>
          <i-nav-item>About</i-nav-item>
          <i-nav-item>Contact</i-nav-item>
        </i-nav>
      </i-sidebar>
      <i-layout-content>ijijioerjiojioerjgoenr</i-layout-content>
    </i-layout>
  </i-layout>
</template>

<script>
export default {
  data: () => ({
    collapsed: false,
  }),
};
</script>

<style scoped></style>
