<template>
  <div id="app">
    <div class="reload">
      <ReloadPrompt />
    </div>
    <div>
      <TheNavbar />
    </div>

    <!--<div class="_margin-top-2">
      <TheHeader />
    </div>
    <HelloWorld msg="Vue 2 PWA + Vite" />-->
    <TheNews />
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
